---
layout: default
title: Home
---

<div class="home">
  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <h1 >{{ post.title }}</h1>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="continue">
          <a href="{{ post.url | prepend: site.baseurl }}">open letter</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- <div class="pagination">
    {% if paginator.previous_page %}
      {% if page == 2 %}
        <a class="page-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">prv</a>
      {% else %}
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">prv</a>
      {% endif %}
    {% else %}
      <span class="page-link">prv</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">nxt</a>
    {% else %}
      <span class="page-link">nxt</span>
    {% endif %}
  </div> -->

</div>
